.mainContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userCredContainer {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.userCredContainer p {
  font-size: 1rem;
}
.userCredContainer button {
  height: 2rem;
  width: 6rem;
  border-radius: 2px;
  cursor: pointer;
  background-color: white;
  border: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.addEventBtnContainer {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addEventBtnContainer button {
  height: 5rem;
  width: 40%;
  border-radius: 6px;
  cursor: pointer;
  background-color: white;
  border: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  font-size: 1.5rem;
}

.addIcon {
  font-size: 2rem;
}

.h2Container {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableContainer {
  min-height: 40rem;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 5rem;
}
/* Tabell */
.table {
  width: 100%;
}

/* Tabell head */
.thTitle {
  width: 20%;
}

.thText {
  width: 30%;
}

.thDate {
  width: 15%;
}

.thLink {
  width: 15%;
}

.thEdit {
  width: 20%;
}

/* Tabell body */

.tBody {
  height: 4rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.wrapperBtns {
  display: flex;
  justify-content: space-evenly;
}

.iconEdit {
  font-size: 1.5rem;
  transition: 0.3 ease-in-out;
}
.iconEdit:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.iconDelete {
  font-size: 1.5rem;
  background: none;
  border: none;
  transition: 0.3 ease-in-out;
}
.iconDelete:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 699px) {
  .userCredContainer p {
    font-size: 0.7rem;
  }
  .addEventBtnContainer button {
    height: 3rem;
    font-size: 1rem;
  }

  .addIcon {
    font-size: 1rem;
  }
}
