.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
}

.userCredContainer {
  height: 7rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 4rem;
}
.userCredContainer p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.7rem;
}
.userCredContainer button {
  height: 2.5rem;
  width: 8rem;
  cursor: pointer;
  background-color: white;
  border: 2px solid #388e57;
  color: #388e57;
  border-radius: 4px;
}

.addEventBtnContainer {
  height: 5rem;
  width: 100%;
}

.addEventBtn {
  height: 3rem;
  width: 20%;
  border-radius: 6px;
  cursor: pointer;
  background-color: #388e57;
  color: white;
  border: none;
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.addIcon {
  background-color: white;
  border-radius: 50%;
  color: #388e57;
  border: none;
  font-size: 2rem;
  transition: 0.3 ease-in-out;
}
.addIcon:hover {
  transform: scale(1.1);
}

.tableContainer {
  height: auto;
  width: 80%;
  margin-bottom: 5rem;
}

.rowAboveTable {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
  background-color: white;
}

/* Tabell */
.table {
  width: 100%;
  background-color: #d5d5d5;
  border-collapse: collapse;
}
.thead {
  width: 100%;
  background-color: #ff0000;
}

/* Tabell head */
.thTitle {
  width: 20%;
  text-align: left;
  padding: 0 2%;
}

.thText {
  width: 30%;
  text-align: left;
}

.thDate {
  width: 15%;
  text-align: left;
}

.thLink {
  width: 15%;
  text-align: left;
}

.thEdit {
  width: 20%;
}

/* Tabell body */

.tBody {
  background-color: white;
  height: 4rem;
}

.wrapperBtns {
  display: flex;
  justify-content: space-evenly;
}

.iconEdit {
  font-size: 1.5rem;
  transition: 0.3 ease-in-out;
}
.iconEdit:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.iconDelete {
  font-size: 1.5rem;
  background: none;
  border: none;
  transition: 0.3 ease-in-out;
}
.iconDelete:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 699px) {
  .userCredContainer p {
    font-size: 0.7rem;
  }

  .userCredContainer button {
    height: 1.5rem;
    width: 8rem;
  }

  .addIcon {
    font-size: 1rem;
  }

  .rowAboveTable {
    height: 4rem;
  }
  .rowAboveTable h2 {
    font-size: 0.8rem;
  }

  .addEventBtn {
    height: 1.5rem;
    width: 50%;
    border-radius: 2px;
  }

  .thTitle,
  .thText,
  .thDate,
  .thLink,
  .thEdit {
    font-size: 0.5rem;
  }
}
