.modalBackdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modalContent {
  width: 30%;
  height: 35%;
  background-color: white;
  padding: 25px;
  position: relative;
}

.closeBtn {
  position: absolute;
  right: 5%;
  color: black;
  background: none;
  border: none;
  transition: 0.3 ease-in-out;
}

.closeBtn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.confirmContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-size: 0.8rem;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.confirmBtn {
  height: 2rem;
  width: 5rem;
  background-color: rgb(183, 47, 47);
  color: white;
  border: none;
  border-radius: 6px;
  margin-left: 5%;
}

.confirmBtn:hover {
  cursor: pointer;
}

.noBtn {
  height: 2rem;
  width: 5rem;
  background-color: white;
  color: rgb(183, 47, 47);
  border: 2px solid rgb(183, 47, 47);
  border-radius: 6px;
}
.noBtn:hover {
  cursor: pointer;
}

@media (max-width: 499px) {
  .modalContent {
    width: 70%;
    height: 20%;
  }

  .confirmContainer p {
    font-size: 0.7rem;
  }

  .noBtn {
    height: 1.5rem;
    width: 3rem;
    border-radius: 1px;
  }

  .confirmBtn {
    height: 1.5rem;
    width: 3rem;
    border-radius: 1px;
  }
}
