.tdTitle {
  text-align: left;
  padding: 0 2%;
}

.wrapperBtns {
  display: flex;
  justify-content: center;
 
}

.iconEdit {
  font-size: 1.5rem;
  transition: 0.3 ease-in-out;
}
.iconEdit:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.iconDelete {
  margin-left: 5%;
  font-size: 1.5rem;
  background: none;
  border: none;
  transition: 0.3 ease-in-out;
}
.iconDelete:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 699px) {
  .tr  {
    font-size: 0.6rem;
   
  }
  .tdText {
    padding: 0 4%;
  }

  .iconEdit {
    font-size: 1rem;
  }
  .iconDelete {
    font-size: 1rem;
  }
}

@media (max-width: 399px) {
  /* .tr {
    font-size: 0.4rem;
  }

  .iconEdit {
    font-size: 0.7rem;
  }
  .iconDelete {
    font-size: 0.7rem;
  } */
}
