.tdTitle {
  text-align: left;
  padding: 0 2%;
}

.wrapperBtns {
  display: flex;
  justify-content: center;
}

.iconEdit {
  font-size: 1.5rem;
  transition: 0.3 ease-in-out;
}
.iconEdit:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.iconDelete {
  margin-left: 5%;
  font-size: 1.5rem;
  background: none;
  border: none;
  transition: 0.3 ease-in-out;
}
.iconDelete:hover {
  cursor: pointer;
  transform: scale(1.1);
}


/* Media Queries */
/* Laptop */
@media (max-width: 1200px) {

}
/* Tablet */
@media (max-width: 800px) {

}
/* Mobile */
@media (max-width: 500px) {
  .tdText {
    display: none;
  }

  .tdLink{
    display: none;
  }

  .tdTitle,
  .tdDate {
    font-size: 0.8rem;
  }

  
}