/* Form */
.formContainer {
  height: 25rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.inputContainer {
  height: 5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.inputContainer input {
  height: 2rem;
}

.btnContainer {
  height: 4rem;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnContainer button {
  width: 90%;
  height: 80%;
  background-color: #388e57;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  transition: 0.4s;
}
.btnContainer button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Media Queries */
/* Mobile */
@media (max-width: 500px) {
  .formContainer {
    height: 22rem;
    width: 18rem;
  }
}
