.mainContainer {
  /* margin-top: 5rem; */
  height: 30rem;
  width: 100%;
  background-color: #D5D5D5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Rubrik */
.headerContainer {
  height: 4rem;
  width: 80%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  color: #858585;
  /* border: 1px solid black; */
}
.headerContainer h1{
  font-weight: 100;
}

/* Kort container */
.cardContainer {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
}

/* Media Queries */
@media (max-width: 699px) {
  .mainContainer {
    height: 35rem;
  }
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .headerContainer h1 {
    font-size: 0.9rem;
  }
}
/* Media Queries */
@media (max-width: 499px) {
  .mainContainer {
    height: 50rem;
  }
  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
