.mainContainer {
  width: 100%;
}
/* Bild Container */
.imgContainer {
  height: 20rem;
  width: 100%;
  position: relative;
}

.h1Wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 5rem;
  width: 10rem;
  border: 2px solid #dc3926;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  color: #808080;
}

.mathImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Text Container */
.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*  Top container */
.topContainer {
  height: 20rem;
  width: 100%;
  display: flex;
}
/* top left container */
.topLeftContainer {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutTopImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.topImgContainer {
  height: 90%;
  width: 70%;
  position: relative;
}

/* top right container */
.topRightContainer {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  width: 100%;
}

.contentWrapper {
  display: flex;
  width: 100%;
}

.lineContainer {
  width: 1%;
  min-height: 100%;
  background-color: red;
}

.textContainer {
  width: 97%;
  height: 100%;
  margin-left: 2%;
}

.topRightContainer h3 {
  margin-bottom: 0.7rem;
}
.topRightContainer p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.topRightTextContainer {
  width: 90%;
}

/*  Bottom container */
.bottomContainer {
  height: 20rem;
  width: 100%;
  display: flex;
  background-color: #f1f1f1;
}

/* bottom left container */
.bottomLeftContainer {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomLeftContainer h3 {
  margin-bottom: 0.7rem;
}
.bottomLeftContainer p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.bottomLeftTextContainer {
  width: 90%;
}

/* bottom right container */
.bottomRightContainer {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomImgContainer {
  height: 62%;
  width: 70%;
  position: relative;
}

.aboutBottomImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Media Queries */
@media (max-width: 699px) {
  .topContainer {
    height: auto;
    flex-direction: column;
  }
  .bottomContainer {
    height: 50%;

    flex-direction: column;
  }

  .topLeftContainer {
    display: none;
  }

  .topRightContainer {
    height: 15rem;
    width: 100%;
  }

  .topRightContainer h3 {
    font-size: 0.8rem;
    margin-bottom: 0rem;
  }
  .topRightContainer p {
    font-size: 0.5rem;
  }

  .bottomLeftContainer {
    height: 15rem;
    width: 100%;
  }
  .bottomLeftContainer h3 {
    font-size: 0.8rem;
    margin-bottom: 0rem;
  }
  .bottomLeftContainer p {
    font-size: 0.5rem;
  }
  .bottomRightContainer {
    height: 50%;
    width: 100%;
    display: none;
  }
}

@media (max-width: 415px) {
  .topRightContainer h3 {
    font-size: 0.7rem;
  }
  .topRightContainer p {
    font-size: 0.4rem;
    line-height: 1rem;
  }

  .bottomLeftContainer h3 {
    font-size: 0.7rem;
  }
  .bottomLeftContainer p {
    font-size: 0.4rem;
    line-height: 1rem;
    margin-bottom: 1rem;
  }
}
