.mainContainer {
  width: 100%;
}
/* Bild Container */
.imgContainer {
  height: 20rem;
  width: 100%;
  position: relative;
}

.h1Wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 5rem;
  width: 10rem;
  border: 2px solid #dc3926;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  color: #808080;
}

.mathImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Text Container */
.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*  Top container */
.topContainer {
  height: 20rem;
  width: 100%;
  display: flex;
}
/* top left container */
.topLeftContainer {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutTopImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.topImgContainer {
  height: 90%;
  width: 70%;
  position: relative;
}

/* top right container */
.topRightContainer {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  width: 100%;
}

.contentWrapper {
  display: flex;
  width: 100%;
}

.lineContainer {
  width: 1%;
  min-height: 100%;
  background-color: red;
}

.textContainer {
  width: 97%;
  height: 100%;
  margin-left: 2%;
}

.topRightContainer h3 {
  margin-bottom: 0.7rem;
}
.topRightContainer p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.topRightTextContainer {
  width: 90%;
}

/*  Bottom container */
.bottomContainer {
  height: 20rem;
  width: 100%;
  display: flex;
  background-color: #f1f1f1;
}

/* bottom left container */
.bottomLeftContainer {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomLeftContainer h3 {
  margin-bottom: 0.7rem;
}
.bottomLeftContainer p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.bottomLeftTextContainer {
  width: 90%;
}

/* bottom right container */
.bottomRightContainer {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomImgContainer {
  height: 62%;
  width: 70%;
  position: relative;
}

.aboutBottomImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1200px) {
  .topContainer {
    height: 25rem;
    /* width: 100%;
    display: flex; */
  }
}
/* Tablet */
@media (max-width: 800px) {
  .topContainer {
    height: 30rem;
    /* width: 100%;
    display: flex; */
  }

  .bottomContainer {
    height: 25rem;
    /* width: 100%;
    display: flex;
    background-color: #f1f1f1; */
  }
  
}
/* Mobile */
@media (max-width: 500px) {
  .topLeftContainer {
    display: none;
    /* height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; */
  }

  .topContainer {
    height: 30rem;
    background-color: #f1f1f1;
    /* width: 100%;
    display: flex; */
  }

  .titleContainer h3{
    font-size: 1.6rem;
    font-weight: 100;
  }
  .topRightContainer {
    /* margin-top: 2rem; */
    /* height: 100%; */
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }

  .bottomContainer {
    flex-direction: column-reverse;
     height: 50rem;
    /* width: 100%;
    display: flex;
    background-color: #f1f1f1;  */
  }

  .bottomRightContainer {
    height: 50%;
    width: 100%;
     /* display: flex;
    justify-content: center;
    align-items: center;  */
  }

  .bottomLeftContainer {
    height: 50%;
    width: 100%;
    margin-bottom: 5rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  .bottomImgContainer {
    height: 60%;
    width: 100%;
    /* position: relative; */
  }

 
  .topRightContainer p {
    /* font-size: 0.8rem; */
    line-height: 1rem;
  }

  .h1 {
    color: #808080;
    background-color: black;
    font-weight: 100;
  }
  
}