.mainContainer {
  width: 100%;
  
}
/* Bild Container */
.imgContainer {
  height: 20rem;
  width: 100%;
  position: relative;
}

.h1Wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 5rem;
  width: 10rem;
  border: 2px solid #DC3926;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
 
  color: #808080;
}

.mathImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Text Container */
.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;


}

/*  Top container */
.topContainer {
  height: 20rem;
  width: 100%;
  display: flex;
  /* border: 1px solid black; */
}
/* top left container */
.topLeftContainer {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.aboutTopImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border: 1px solid black; */
}

.topImgContainer {
  height: 90%;
  width: 70%;
  position: relative;
  /* border: 1px solid black; */
}

/* top right container */
.topRightContainer {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.titleContainer{
  width: 100%;
  
  /* border: 1px solid black; */
}

.contentWrapper{
  display: flex;
  /* flex-direction: column; */
  width: 100%;
 
}

.lineContainer {
  width: 1%;
  min-height: 100%;
  /* border: 1px solid black; */
  background-color: red;
  
}

.textContainer {
  width: 97%;
  height: 100%;
  /* border: 1px solid black; */
  margin-left: 2%;
  
}

.topRightContainer h3 {
  /* text-align: center; */
  margin-bottom: 0.7rem;
  /* border: 1px solid black; */
}
.topRightContainer p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  /* border: 1px solid black; */
}

.topRightTextContainer {
  width: 90%;
  /* border: 1px solid black; */
}

/*  Bottom container */
.bottomContainer {
  height: 20rem;
  width: 100%;
  display: flex;
  /* border: 1px solid black; */
  background-color: #F1F1F1;
}

/* bottom left container */
.bottomLeftContainer {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.bottomLeftContainer h3 {
  /* text-align: center; */
  margin-bottom: 0.7rem;
  /* border: 1px solid black; */
}
.bottomLeftContainer p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  /* border: 1px solid black; */
}

.bottomLeftTextContainer {
  width: 90%;
  /* border: 1px solid black; */
}

/* bottom right container */
.bottomRightContainer {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.bottomImgContainer {
  height: 62%;
  width: 70%;
  position: relative;
  /* border: 1px solid black; */
}

.aboutBottomImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border: 1px solid black; */
}

/* Media Queries */
@media (max-width: 699px) {
  /* .h1 {
    left: 35%;
  } */
  
  .topContainer {
    height: auto;
    flex-direction: column;
  }
  .bottomContainer {
    height: 50%;
   
    flex-direction: column;
  }
  /* top left container */
  .topLeftContainer {
    /* height: 50%;
    width: 100%; */
    display: none;
    /* border: 1px solid black; */
  }

  .topRightContainer {
    /* height: 70%; */
    height: 15rem;
    width: 100%;
    /* border: 1px solid black; */
  }

  .topRightContainer h3 {
    font-size: 0.8rem;
    margin-bottom: 0rem;
  }
  .topRightContainer p {
    font-size: 0.5rem;
  }

  .bottomLeftContainer {
    height: 15rem;
    width: 100%;
    /* border: 1px solid black; */
  }
  .bottomLeftContainer h3 {
    font-size: 0.8rem;
    margin-bottom: 0rem;
  }
  .bottomLeftContainer p {
    font-size: 0.5rem;
  }
  .bottomRightContainer {
    height: 50%;
    width: 100%;
    /* border: 1px solid black; */
    display: none;
  }
}

@media (max-width: 415px) {
  .topRightContainer h3 {
    font-size: 0.7rem;
  }
  .topRightContainer p {
    font-size: 0.4rem;
    line-height: 1rem;
  }

  .bottomLeftContainer h3 {
    font-size: 0.7rem;
  }
  .bottomLeftContainer p {
    font-size: 0.4rem;
    line-height: 1rem;
    margin-bottom: 1rem;
  }
}
