.mainContainer {
  height: 10rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  border-top: 2px solid black;
  /* border: 1px solid black; */
}

.mainWrapper{
  width: 65%;
  display: flex;
  /* border: 1px solid red; */
}

/* vänster grid */
.leftGridContainer {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* border: 1px solid black; */
}

/* Vänster grid */
/* övre ruta */
.textContainer {
  height: 50%;
  width: 50%;
}
.textWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textWrapper h3 {
  font-size: 1rem;
}
.textWrapper p {
  font-size: 0.6rem;
}

/* nedre ruta */
.imgContainer {
  height: 50%;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.konceptTextContainer p {
  font-size: 0.6rem;
  
  
}

.imgLogoContainer {
  height: 100%;
  width: 100%;
  display: flex;
  /* border: 1px solid black; */
  position: relative;
}
.imgWrapperContainer {
  display: flex;
   position: absolute;
  left: -0.9rem; 
}

.imgWrapper {
  height: 50%;
  width: 33.3%;
  
  
 
}

.logo {
  height: 100%;
  width: 100%;
  color: rgb(0, 0, 0);
  object-fit: contain;
 
}

/* Mitten grid */
.midGridContainer {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}
.footerLinksWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Mobillänkar */
.mobileLinks {
  width: 100%;
  
   display: none;
  }
  
  .topRowLinks {
  text-decoration: none;
  /* width: 100%; */
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.topRowLinks a,
.bottomRowLinks a {
  text-decoration: none;
  color: black;
}

.bottomRowLinks{
  width: 75%;
  display: flex;

  /* align-items: center; */
  justify-content: center;
  /* border: 1px solid black; */
  /* margin-left: 12%;
  margin-top: 5%; */
}

.bottomRowLinks a {
  display: flex;
  align-items: center;
 /* justify-content: center; */
  
}

.iconAdmin {
  height: 2rem;
  width: 2rem;
  transition: 0.3s ease-in-out;
  /* border: 1px solid black; */
  border-radius: 50%;
  padding: 2px;
  margin-top: 0.5rem;
}

.icon:hover {
  transform: scale(1.1);
}


.links a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease-in-out;
  font-size: 0.8rem;
}

.links a:hover {
  transform: scale(1.1);
}

/* Höger grid */

.rightGridContainer {
  height: 100%;
  width: 40%;
  display: flex;
  
  /* border: 1px solid black; */
}

.socialWrapper {
  height: 80%;
  width: 100%;
  display: flex;
  /* flex-direction: column;
  justify-content: flex-end; */
  /* border: 1px solid black; */
}

.textSocial {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  /* border: 1px solid black; */
}
.textSocial h3 {
  font-size: 0.8rem;
}

.iconsSocial {
  height: 50%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.icon {
  width: 1.5rem;
  margin-right: 10px;
  height: 1.5rem;
  color: black;
  transition: 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1200px) {

}
/* Tablet */
@media (max-width: 800px) {
  .mainWrapper{
    width: 75%;
    /* display: flex;
    border: 1px solid red; */
  }

  .iconsSocial {
    /* height: 50%; */
    width: 100%;
    /* display: flex;
    justify-content: center;
    
    align-items: center;
    border: 1px solid black; */
  }
}
/* Mobile */
@media (max-width: 500px) {
  .mainContainer {
    /* flex-direction: column; */
    height: 22rem;
    /* width: 100%; */
    /* background-color: rgb(255, 255, 255); */
    /* display: flex;
    
    justify-content: center; */
    /* border-top: 2px solid black;
    border: 1px solid black; */
  }

  .mainWrapper{
    flex-direction: column;
    width: 90%;
    /* display: flex;
    border: 1px solid red; */
  }

  .leftGridContainer {
    height: 80%;
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    /* align-items: flex-end; */
    /* border: 1px solid black; */
  }
  
  .midGridContainer {
    height: 60%;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black; */
  }

  .rightGridContainer {
    height: 50%;
    width: 100%;
    /* display: flex;
    
    border: 1px solid black; */
  }

  .textContainer {
    /* height: 50%; */
    width: 100%;
  }

  .textWrapper {
    /* height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
    text-align: center;
    
  }
  
  .imgContainer {
    /* height: 50%; */
    width: 100%;
    /* position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; */
  }

  .imgWrapperContainer {
    /* display: flex;
     position: absolute; */
    left: 0rem; 
  }
  
  .konceptTextContainer p {
    /* font-size: 0.6rem; */
      margin-left: 1.5rem;
    
  }
  
  .links {
    display: none;
  }

 .mobileLinks{
    display: block;
 }

 .textSocial {
  margin-left: 10%;
   height: 100%;
  /* width: 100%;
  display: flex;
  flex-direction: column;  */
  /* justify-content: flex-end; */
  align-items: flex-start;
  /* border: 1px solid black; */
}

.iconsSocial {

  /* height: 50%;
  width: 75%;
  display: flex; */
  justify-content: flex-start;
  /* align-items: center; */
  /* border: 1px solid black; */
}


}