.mainContainer {
  height: 12rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  border-top: 2px solid black;
}

/* vänster grid */
.leftGridContainer {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Vänster grid */
/* övre ruta */
.textContainer {
  height: 50%;
  width: 50%;
}
.textWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textWrapper h3 {
  font-size: 1rem;
}
.textWrapper p {
  font-size: 0.6rem;
}

/* nedre ruta */
.imgContainer {
  height: 50%;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.konceptTextContainer p {
  font-size: 0.6rem;
}

.imgLogoContainer {
  height: 100%;
  width: 100%;
  display: flex;
}

.imgWrapper {
  height: 50%;
  width: 33.3%;
}

.logo {
  height: 100%;
  width: 100%;
  color: rgb(0, 0, 0);
  object-fit: contain;
}

/* Mitten grid */
.midGridContainer {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footerLinksWrapper {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease-in-out;
  font-size: 0.8rem;
}

.links a:hover {
  transform: scale(1.1);
}

/* Höger grid */

.rightGridContainer {
  height: 100%;
  width: 40%;
}

.socialWrapper {
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textSocial {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.textSocial h3 {
  font-size: 0.8rem;
}

.iconsSocial {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  width: 1.5rem;
  margin-right: 10px;
  height: 1.5rem;
  color: black;
  transition: 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 1055px) {
  .textWrapper p {
    font-size: 0.4rem;
  }
  .links a {
    font-size: 0.7rem;
  }
}
@media (max-width: 903px) {
  .konceptTextContainer p {
    font-size: 0.4rem;
  }
  .links a {
    font-size: 0.6rem;
  }
  .textSocial h3 {
    font-size: 0.7rem;
  }
}

/* Media Queries */
@media (max-width: 699px) {
  .mainContainer {
    height: 25rem;
    flex-direction: column;
  }

  .leftGridContainer {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .textContainer {
    width: 40%;
  }

  .imgContainer {
    width: 40%;
  }
  .imgLogoContainer {
    display: flex;
    flex-direction: column;
  }

  .midGridContainer {
    width: 100%;
  }
  .footerLinksWrapper {
    width: 40%;
    justify-content: flex-start;
  }

  .links {
    width: 100%;
  }

  .textSocial {
    height: 80%;
  }

  .rightGridContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .socialWrapper {
    width: 40%;
  }

  .textSocial h3 {
    font-size: 0.6rem;
  }
}
