.mainContainer {
  height: 5rem;
  width: 100%;
  background-color: #ffff;
  border-bottom: 3px solid black;
  display: flex;
}

/* logo */
.logoContainer {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
}

.logoWrapper {
  height: 100%;
  width: 50%;
  position: relative;
  
}

.logo{
height: 100%;
width: 100%;
object-fit: contain;
transition: 0.3s ease-in-out;
}

.logo:hover{
  transform: scale(1.1);
}

/* page links */
.pageLinksContainer {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pageLinksContainer a {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
  transition: 0.3s ease-in-out;
}

.pageLinksContainer a:hover{
  transform: scale(1.1);
}

/* login  */
.loginContainer {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer a {
  color: black;
}

.icon{
  height: 3rem;
  width: 3rem;
  transition: 0.3s ease-in-out;
}

.icon:hover {
 transform: scale(1.1);
}


/* Hamburger Meny */

/* Closed Menu */
.hamburgerClosed {
  position: absolute;
  top: 1rem;
  right: 3rem;
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* transition: 2s; */
  /* border: 1px solid black; */
}

.hamburgerClosed div{
  height: 4px;
  width: 30px;
  background-color: black;
  border-radius: 8px;
  transition: 0.4s;
}

.hamburgerClosed:hover {
  cursor: pointer;
}

/* Opened Menu */
.hamburgerOpen {
  position: absolute;
  top: 1rem;
  right: 3rem;
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  /* border: 1px solid black; */
}

.hamburgerOpen div{
  height: 4px;
  width: 30px;
  background-color: black;
  
  border-radius: 8px;
  transition: 0.4s;
}

.hamburgerOpen div:nth-child(1){
  transform: rotate(45deg) translateY(6px) translateX(6px);
 
}
.hamburgerOpen div:nth-child(2){
 
  transform: translateX(-30px);
  opacity: 0;
  
}
.hamburgerOpen div:nth-child(3){
  transform: rotate(-45deg) translateY(-6px) translateX(6px);
  
}

.hamburgerOpen:hover {
  cursor: pointer;
}

/* burger menu */
.burgerMenu {
  position: absolute;
  top: 4.9rem;
  right: 0;
  height: 70vh;
  width: 70%;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  opacity: 0;
  animation: showMe 0.5s forwards;
  
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.burgerMenu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 5px 15px;
}

@keyframes showMe{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}
@keyframes hideMe{
  0%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}

/* Media Queries */
@media (max-width: 699px) {
  .pageLinksContainer,
  .loginContainer {
    display: none;
  }
}

@media (min-width: 699px) {
  .hamburgerOpen,
  .hamburgerClosed {
    display: none;
  }
}