.modalBackdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modalContent {
  min-width: 30%;
  min-height: 200px;
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  
}

.closeBtn {
 color: black;
 background: none;
 border: none;
 transition: 0.3 ease-in-out;
}

.closeBtn:hover {
  cursor: pointer;
  transform: scale(1.2);
}